

/* Addition */
/* Apply a natural box layout model to all elements */
/* Read this post by Paul Irish: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
 
 ul.wi-container {
	width: 190px;
	height: 300px;
	margin: 0 auto 30px; 
	position: relative;
	padding: 0;
	list-style-type: none; 
	-webkit-perspective: 1400px;
	-moz-perspective: 1400px;
	-ms-perspective: 1400px;
	-o-perspective: 1400px;
	perspective: 1400px;
}

ul.wi-container li {
	width: 100%;
	height: 100%;
	display: none;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	padding: 20px;
	pointer-events: auto;
}

ul.wi-container li.wi-move {
	pointer-events: none;
	-webkit-transition: -webkit-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	-moz-transition: -moz-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	-o-transition: -o-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	-ms-transition: -ms-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	transition: transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
}
 
 
.windy-demo {
	width: 220px;
	margin: 40px auto;
	color: #aaa; 
}

.windy-demo ul.wi-container {
	width: 220px;
	height: 400px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.windy-demo li img {
	display: block;
}

.windy-demo h4 {
	padding: 0 10px;
	line-height: 74px;
	margin: 0;
	color: #ccc;
	text-align: center;
}

.windy-demo ul.wi-container:before,
.windy-demo ul.wi-container:after{
	content: '';
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left:  10px;
	width: 50%;
	height: 20%;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.windy-demo ul.wi-container:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.windy-demo ul.wi-container li {
	padding: 0;
	border: 10px solid #DDD;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.windy-demo nav {
	position: relative;
	width: 100px;
	margin: 0 auto;
}

.windy-demo nav span {
	width: 42px;
	height: 42px;
	margin: 0 4px;
	float: left; border: 1px dashed red;
	background: url('..image/custom/home/nav.png') no-repeat 100% 0;
	text-indent: -9000px;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.windy-demo nav span:first-child {
	background-position: 0 0;
}

.windy-demo nav span:active {
	background-position: 100% 2px;
}

.windy-demo nav span:first-child:active {
	background-position: 0 2px;
}